#holder { 
    display: inline-block;
}
#imageHolder {
    width: 100%;
}
#UI {
    width: 100%;
}
.button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* These colors have to go */
#left {
    text-align: left;
    background-color: #5F9398;
}
#right {
    text-align: right;
    background-color: #5F9398;
}
#random {
    text-align: center;
    background-color: #985F93;
}
#showTitle {
    text-align: center;
    background-color: #93985F;
}
#titleBox {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: silver;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
